.input-field {
  @apply w-full px-4 py-2 border border-orange-600 rounded-md focus:ring-2 focus:ring-orange-500 outline-none text-black;
}
.btn {
  @apply px-6 py-2 bg-blue-600 text-white rounded-md shadow-md hover:bg-blue-700 transition-all;
}
.radio {
  @apply w-4 h-4 text-blue-600 focus:ring-blue-500;
}

h2 {
  @apply text-white font-thin sm:font-bold  text-sm sm:text-lg;
}
legend {
  @apply text-white font-bold text-lg;
}
form {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.step {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

}


.show-step {
    transform: translateX(0);
    opacity: 1;
    position: relative;
    transition-delay: 0.5s;
}

.hide-step {
    transform: translateX(100%);
    opacity: 0;
}

.err{
  color: red;
}

