img{
    display: block;
    width: 100%;
    object-fit: cover;
  
}

.hide-cart{

    transform: translateX(100%);
    /* right: -300px; */
}

.show-cart{

    transform: translateX(0%);
    /* right: 0px; */
}